/*HEADER 2*/  /*pagina SERVICIOSS*/
.encabezado--servicio {
    background-image: url(../img/fondo-services.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.fondo__color--servicio {
    border-bottom: #238fb7 solid 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
.encabezado-servicio__titulo {
    color: #f6f6f6;
    font-weight: 600;
    font-size: 8.5rem;
    width: 67.3rem;
    text-align: center;
    margin-top: 7rem;
}
@media (max-width: 768px) {
     .encabezado-servicio__titulo {
        font-size: 6.5rem;
        width: auto;
     }
}
.encabezado-servicio__texto{
    font-size: 2.3rem;
    font-weight: 400;
    color: #f6f6f6;
    max-width: 85rem;
    text-align: center;
    margin-top: 4.5rem;
    word-spacing: 0.8rem;
}
/*botones - encabezado services*/
.botones_blue {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: inherit;
}
@media (min-width: 576px) {
    .botones_blue {
        flex-direction: row;
        justify-content: center;
        margin: 6rem 0 4rem 0;
        width: 100%;
    } 
}
@media (min-width: 1030px) {
    .botones_blue {
        justify-content: space-between;
        width: 36%;
    }
}
.btn-desarrollo {
    margin-bottom: 2rem;
}
@media (min-width: 576px) {
    .btn-desarrollo {
        margin: 0 2rem 0 0;
    }    
}
.btn-diseno {
    margin-bottom: 1.8rem;
}
@media (min-width: 576px) {
    .btn-diseno {
        margin: 0;
    }    
}
.btn_blue {
    @include boton(4px, $azul--principal);
    padding: 1.1rem 1rem;
}   
.btn_blue:hover {
    background-color: $azul--principal;
    color: $blanco--opaco;
}   
/*LOS Services ====000000000000000000000=============000000==========*/
.services {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .services {
        display: grid;
        grid-template-rows: 31.5rem 31rem 30rem 27rem;
        align-items: center;
        grid-template-areas:'sec_dise'
                            'art_dise'
                            'sec_desa'
                            'art_desa';
    }    
}
.sec_dise {
    grid-area: sec_dise;
}
.sec_desa {
    grid-area: sec_desa;
}
.art_dise {
    grid-area: art_dise;
}
.art_desa {
    grid-area: art_desa;
}
/*Estilos Generales - servicios*/
.main_services {
    background-color: $blanco--opaco;  
    height: auto;
    width: auto;
    justify-content: center;
    display: flex;
}
@media (min-width: 768px) {
    .main_services {
        justify-content: inherit
    }
}
.main_services__btn {
    @include boton(2px, $azul--principal);
    background-color: $azul--principal;
    padding: 0.9rem;
    font-size: 1.8rem;
    align-self: start;
}
.main_services__btn:hover {
    background-color: transparent;
    color: $azul--oscuro;
}
.main_services__titulo {
    padding: 2.3rem 0 2rem 0;
    margin: 0;
}
.main_services__img {
    min-width: 35.5rem;
}
@media (min-width: 768px) {
    .main_services__img {
        max-width: 50.85rem;
        height: 24rem;
    }    
}
@media (min-width: 920px) {
    .main_services__img {
        height: 27.5rem;
    } 
}
.main_services__texto {
    color: #000;
    line-height: 3rem;
    text-align: center; 
    margin: 2rem;
    align-self: start;
}
.articles h3{
    color: $blanco--opaco;
    font-size: 2.2rem;
    text-align: center;
}
.articles p{
    font-size: 1.7rem;
    text-align: center;
    margin: 2.5rem;
}
/*Seccion Diseño*/
.sec_dise {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 35.5rem;
    max-width: 63.1rem;
    
}
@media (min-width: 768px) {
    .sec_dise {
        height: 100%;
        max-width: 100%;
        display: grid;  
        grid-template-columns: 48% 2% 50%;
        grid-template-rows: 50px 205px 60px;
        justify-items: center;
        align-items: center;
        grid-template-areas: "titulo-dise n img-dis"
                            "texto-dis n img-dis"
                            "btn-dis n img-dis";
    }
}

.main_services__img--dise {
    grid-area: img-dis;
    width: 100%;
}
.titulo-dise {
    grid-area: titulo-dise;
}
.cont-dise {
    grid-area: texto-dis;
}
.btn-dise {
    grid-area: btn-dis;
    margin: 0.5rem auto;
}
/*Articulo  Diseñoo*/
/*Seccion Desarrolloo*/
.sec_desa {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 35.5rem;
    max-width: 63.1rem;
}
@media (min-width: 768px) {
    .sec_desa {
        max-width: 100%;
        display: grid;
        grid-template-columns: 48% 2% 50%;
        grid-template-rows: 50px 190px 60px;
        justify-items: center;
        align-items: center;
        margin: 0 5%;
        grid-template-areas: "img-des n titulo-desa"
                             "img-des n texto-des"
                             "img-des n btn-des";
    }     
}
.main_services__img--desa {
    grid-area: img-des;
    width: 100%;
}
.titulo-desa {
    grid-area: titulo-desa;
}
.cont-desa {
    grid-area: texto-des;
}
.btn-desa {
    grid-area: btn-des;
    margin: 0.5rem auto;
}
/*Articulo  Desarrollooo*/
/*Modif. footer*/
.footer__texto--services {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}
@media (min-width: 640px) {
    .footer__texto--services {
        font-size: 1.85rem;
        margin-bottom: 0.5px;
    }
}