/*HEADER 2*/  /*pagina SERVICIOSS*/
.encabezado--servicio {
    background-image: url(../img/fondo-services.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.fondo__color--servicio {
    border-bottom: #238fb7 solid 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
.encabezado-servicio__titulo {
    color: #f6f6f6;
    font-weight: 600;
    font-size: 8.5rem;
    width: 67.3rem;
    text-align: center;
    margin-top: 7rem;
}
@media (max-width: 786px) {
     .encabezado-servicio__titulo {
        font-size: 6.5rem;
        width: auto;
     }
}
.encabezado-servicio__texto{
    font-size: 2.3rem;
    font-weight: 400;
    color: #f6f6f6;
    max-width: 85rem;
    text-align: center;
    margin-top: 4.5rem;
    word-spacing: 0.8rem;
}
/*botones - encabezado services*/
.botones_blue {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: inherit;
}
@media (min-width: 576px) {
    .botones_blue {
        flex-direction: row;
        justify-content: center;
        margin: 6rem 0 4rem 0;
        width: 100%;
    } 
}
@media (min-width: 1030px) {
    .botones_blue {
        justify-content: space-between;
        width: 36%;
    }
}
.btn-desarrollo {
    margin-bottom: 2rem;
}
@media (min-width: 576px) {
    .btn-desarrollo {
        margin: 0 2rem 0 0;
    }    
}
.btn-diseno {
    margin-bottom: 1.8rem;
}
@media (min-width: 576px) {
    .btn-diseno {
        margin: 0;
    }    
}
.btn_blue {
    @include boton(4px, $azul--principal);
    padding: 1.1rem 1rem;
}   
.btn_blue:hover {
    background-color: $azul--principal;
    color: $blanco--opaco;
}   
/*LOS Services ====000000000000000000000=============000000==========*/
.services {
    display: flex;
    flex-direction: column;
}
@media (min-width: 786px) {
    .services {
        display: grid;
        grid-template-rows: 31.5rem 31rem 30rem 27rem;
        align-items: center;
        grid-template-areas:'sec_dise'
                            'art_dise'
                            'sec_desa'
                            'art_desa';
    }    
}
.sec_dise {
    grid-area: sec_dise;
}
.sec_desa {
    grid-area: sec_desa;
}
.art_dise {
    grid-area: art_dise;
}
.art_desa {
    grid-area: art_desa;
}
/*Estilos Generales - servicios*/
.main_services {
    background-color: $blanco--opaco;  
    height: auto;
    width: auto;
    justify-content: center;
    display: flex;
}
@media (min-width: 786px) {
    .main_services {
        justify-content: inherit;
        height: 100%
    }
}
.main_services__btn {
    @include boton(2px, $azul--principal);
    background-color: $azul--principal;
    padding: 0.9rem;
    font-size: 1.8rem;
    align-self: start;
    margin: 0.5rem auto;
}
.main_services__btn:hover {
    background-color: transparent;
    color: $azul--oscuro;
}
@media (min-width: 786px) {
    .main_services__btn {
        margin-bottom: 1rem;
    }
}
.main_services__titulo {
    padding: 2.3rem 0 2rem 0;
    margin: 0;
}
.main_services__img {
    min-width: 35.5rem;
}
@media (min-width: 786px) {
    .main_services__img {
        max-width: 43rem;
        height: 24rem;
    }    
}
@media (min-width: 960px) {
    .main_services__img {
        height: 27.5rem;
        max-width: 50.85rem;
    } 
}
.main_services__texto {
    color: #000;
    line-height: 3rem;
    text-align: center; 
    padding: 0.5rem 2.2rem 0 2.2rem;
    margin: 0;
    align-self: center;
}
@media (min-width: 992px) {
    .main_services__texto {
        padding: 2rem 6rem;
    }
}
.articles__titulo{
    border-bottom: 2px solid $azul--principal;
    color: $blanco--opaco;
    font-size: 2.2rem;
    text-align: center;
}
.articles__texto{
    margin: 2.5rem 6rem;
    font-size: 1.7rem;
    text-align: center;
}
@media (min-width: 667px) {
    .articles__texto{
        margin: 1rem 4.5rem;
    }
}
@media (min-width: 992px) {
    .articles__texto{
        margin: 1rem 1.9rem;
    }
}

/*Seccion Diseño*/
.sec_dise {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 35.5rem;
    max-width: 63.1rem;
    
}
@media (min-width: 786px) {
    .sec_dise {
        height: 100%;
        max-width: 100%;
        display: grid;  
        grid-template-columns: 48% 1% 51%;
        grid-template-rows: 45px 185px auto;
        justify-items: center;
        align-items: center;
        grid-template-areas: "titulo-dise n img-dis"
                            "texto-dis n img-dis"
                            "btn-dis n img-dis";
    }
}

.main_services__img--dise {
    grid-area: img-dis;
    width: 100%;
    padding: 0;
}
@media (min-width: 786px) {
    .main_services__img--dise {
        padding-right: 2rem;
    }
}
.titulo-dise {
    grid-area: titulo-dise;
}
.cont-dise {
    grid-area: texto-dis;
}
.btn-dise {
    grid-area: btn-dis;
}
/*Articulo  Diseñoo*/
.art_dise {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (min-width: 576px) {
    .art_dise {
        height: 31rem;
    } 
}
@media (min-width: 992px) {
    .art_dise {
        margin: 0 2%;
        display: grid;
        grid-template-columns: 57% 1% 42%;
        grid-template-rows: 5rem 12.2rem 13.8rem;
        grid-template-areas: "title l ig"
                             "text l ig"
                             "lista l ig";
    }
    .art_dise__titulo {
        grid-area: title;
    }
    .art_dise__texto {
        grid-area: text;
    }
    .articles-lista {
        grid-area: lista;
    }
    .art_dise__img {
        grid-area: ig;
    }
}
.art_dise__titulo {
    display: inline;
    margin: 2.5rem auto 0 auto;
    width: 80%;
}
@media (min-width: 992px) {
    .art_dise__titulo {
        width: 100%;
        align-self: end;
    }
}
.articles-lista {
    display: none;
}
@media (min-width: 667px) {
    .articles-lista {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }
}
@media (min-width: 992px) {
    .articles-lista {   
        margin: 0 0 0 5.5rem;
        align-items: inherit;
    }
}
.articles-lista__titulo {
    margin-bottom: 0.5rem;
}
.articles-lista__op {
    word-spacing: 2px;
    color: $blanco;
    font-size: 1.5rem;
   padding-right: 1rem;
}
@media (min-width: 992px) {
    .articles-lista__op {
        margin-left: 3rem; 
    }
}
.art_dise__img {
    display: none;
}
@media (min-width: 992px) {
    .art_dise__img {
        display: block;
        justify-self: end;
        align-self: center;
        width: 42rem;
    } 
}

/*Seccion Desarrolloo*/
.sec_desa {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 35.5rem;
    max-width: 63.1rem;
}
@media (min-width: 786px) {
    .sec_desa {
        max-width: 100%;
        display: grid;
        grid-template-columns: 48% 2% 50%;
        grid-template-rows: 50px 170px auto;
        justify-items: center;
        align-items: center;
        margin: 0 5%;
        grid-template-areas: "img-des n titulo-desa"
                             "img-des n texto-des"
                             "img-des n btn-des";
    }     
}
.main_services__img--desa {
    grid-area: img-des;
    width: 100%;
}
.titulo-desa {
    grid-area: titulo-desa;
}
.cont-desa {
    grid-area: texto-des;
}
.btn-desa {
    grid-area: btn-des;
}
/*Articulo  Desarrollooo*/
.art_desa {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (min-width: 576px) {
    .art_desa {
        height: 27rem;
    } 
}
@media (min-width: 992px) {
    .art_desa {
        margin: 0 2%;
        display: grid;
        grid-template-columns: 42% 1% 57%;
        grid-template-rows: 4.35rem 10.64rem 12.01rem;
        grid-template-areas: "ig-d l title-d"
                             "ig-d l text-d"
                             "ig-d l cosa";
    }
    .art_desa__titulo {
        grid-area: title-d;
    }
    .art_desa__texto {
        grid-area: text-d;
    }
    .algunacosa {
        grid-area: cosa;
    }
    .art_desa__img {
        grid-area: ig-d;
    }
}
.art_desa__img {
    height: 27rem;
}
/*Modif. footer*/
.footer__texto--services {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}
@media (min-width: 640px) {
    .footer__texto--services {
        font-size: 1.85rem;
        margin-bottom: 0.5px;
    }
}