/* Header  ======0000======000==== PAGINA NOSOTROOOSSSS*/
.us-titulo {
    text-align: center;
    font-size: 7.5rem;
    color: $blanco--opaco;
    font-weight: 600;
} /*aqui acabo el header*/
@media (max-width: 768px) {
    .us-titulo {
    font-size: 6rem;
    }
}
/*Avatar Mio */
.sebas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 13%;
}
.ceo {
    display: flex;
    justify-content: center;
} 
@media (min-width: 768px) {
    .sebas {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 3rem 0;
    }
}
.fondo-mi-avatar {
    background-color: $blanco--opaco;
    border-radius: 15px;
    width: 30.5rem;
    height: 30.5rem;
    margin-right: 1.5rem;
}
.mi-avatar {
    width: 100%;
}
/*descripcion 1*/
.mi-descrip {
    background-color: $blanco--opaco;
    width: 30.5rem;
    height: 30.5rem;
    border-radius: 20px;
    margin-top: 5rem;
}
@media (min-width: 768px) {
    .mi-descrip {
        width: 40rem;
        margin: 0;
    }
}
@media (min-width: 850px) {
    .mi-descrip {
        margin: 0 0 0 4rem;
    }
}
.mi-titulo {
    width: 100%;
    padding: 4% 0 0 5%;
    font-weight: 600;
    font-size: 3rem;
    padding-bottom: 1rem;
}
.mi-texto {
    color: $azul--oscuro;
    margin: 1rem 3rem 1rem 2rem;
    font-size: 1.7rem;
    font-weight: 600;
}

/*Integrantesss ---  Paginaaa Nosotrosss*/
.Integrantes {
    display: grid;
    grid-template-columns: 33.3% 33.4% 33.3%;
    grid-template-areas: "susana maria bruno";
    margin: 2.5rem 0;
    background-color: $blanco--opaco;
    justify-items: center;
}
@media (max-width: 768px) {
    .Integrantes {
        display: flex;
        flex-direction: column;
    }
}
.susana {
    grid-area: susana;
}
.maria {
    grid-area: maria;
}
.bruno {
    grid-area: bruno;
}
/*Avatareeessss*/
.fondo-avatar {
    display: flex;
    justify-content: center;
}
.fondo-avatar img {
    width: 22rem;
    height: 21.5rem;
}
/*Descripcioneesss*/
.Int-titulo {
    font-weight: 700;
    text-align: center;
    color: black;
}
.Int-texto {
    max-width: 27rem;
    color: $azul--oscuro;
    margin: 2rem;
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
}

/* ESTILOS generales-de-los-participantes*/
.participantes {
    padding: 2rem 0;
    max-width: 40rem;
}