/* GENERALES */
@import "variables.scss";
*{
    margin: 0;
    padding: 0;
}
*:after, *:before{
    box-sizing: border-box;
}
html {
    box-sizing: border-box;    /*Tuco Box Model*/
    font-size: 10px;          /*1rem = 10px* cuando son por defecto 16px*/ 
}
@media screen and (min-width: 576px) {
    html {
        font-size: 10px;
    }
}
body {
    background-color: $azul--oscuro;
    font-family: "Montserrat", sans-serif;
}
p {
    color: $blanco;
}
@mixin boton ($tm, $color){
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    color: $blanco--opaco;
    border-radius: 13px;
    transition: background-color .5s , color .5s;   
    background-color: transparent;
    text-decoration: none;
    border: $tm solid $color;
}
/* Navegacion =========== ===========  =========== */ 
.nav {
    background-color: $azul--oscuro;
    display: flex;
}
.nav__menu {
    flex-grow: 0;
}
.links {
    list-style-type: none;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    height: auto;
    padding: 0;
    margin: 0;
    padding: 1rem 0;
}
.links__enlace {
    margin: 5rem 0;
    font-size: 1.8em;
    color: $blanco--opaco;
    text-decoration: none;
    border-bottom: 0.25rem solid transparent;
    transition: border .3s ease; 
}
.btn_contac {
    @include boton(3px, $rojo--opaco);
    font-size: 1.8rem;
    font-weight: 600;
    transition: background-color .5s, border .5s, color .5s;   
    background-color: #CC1010;
    width: 12rem;
    height: 3.7rem;
    margin-left: 1.5rem;
    cursor: pointer;    
}
@media screen and (max-width: 576px) {
    .btn_contac {
        margin-top: 0.5rem;
    }
}
.btn_contac:hover {
    background-color: $rojo--claro;
    border: 4px solid $rojo--claro;
    color: $blanco;
}
.nav__logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0.8rem 0 0.8rem 4%;
}
@media (min-width: 576px) and (max-width: 634px) {
    .links {
        font-size: 7.7px;
    }
    .btn_contac {
        font-size: 16.5px;
    }
}
.red a:hover {
    border-bottom-color:  #FF0000;
    color: #FF0000;
} 
.blue a:hover {
    border-bottom-color: #238fb7; 
    color: #3fc8e0;
}
a.boton_red {
    border-bottom-color: #FF0000;
}
a.boton_blue { 
    border-bottom-color: #238fb7;
}
@media screen and (min-width: 576px) {
    .nav {
        display: flex;
        flex-direction: row;
        height: 5.6rem;
        justify-content: space-between;
        padding: 0 2rem;
        align-items: center;
    }
    .links {
        display: flex;
        flex-flow: row wrap;
    }
    .links__enlace {
        margin: 0.3rem 2rem;
    }
    .nav__logo {
        margin: 0;
    }
}

/*HEADER  ===00===00==== ===00===→→→→→→→→→→ PAGINAAA INDEEEEXXX ================= ============ HSABFCIA IABDIQA IUBAI8D */
.encabezado{
    background-image: url(../img/fondo_index.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 56.9rem;
}
.fondo__color {
    background-color: rgba( 0, 0, 0, .7);
    border-bottom: #CC1010 solid 0.9rem;
    height: 56.9rem;
    width: 100%;
}
.encabezado__titulo {
    color: #ffffff;
    font-weight: 700;
    font-size: 6rem;
    width: 100%;
    word-spacing: 0.5rem;
    margin: 3.9rem 0 0 0;
}
.encabezado__texto {
    font-size: 2rem;
    line-height: 1.5;
    width: 100%;
    padding-bottom: 2rem;
    margin: 0 1rem;
}
.ubi{
    display: flex;
    width: 100%;
    padding-bottom: 2rem;
    align-items: flex-end;
    justify-content: center;
}
@media screen and (min-width: 576px) {
    .encabezado__titulo{
        width: 42.5rem;
        margin: 6rem 0 2.2rem 10.5%;
        text-align: inherit;
    }
    .encabezado__texto {
        max-width: 70rem;
        padding-left: 10.5%;
        padding-bottom: 2.2rem;
        text-align: inherit;
    }
    .ubi {
        width: 29rem;
        padding-left: 12.6%;
        padding-bottom: 3rem;
    }
}
.botones_red {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
@media screen and (min-width: 576px){
    .botones_red {
        width: 40.38rem;
        margin-left: 11.8%;
    }
}
.btn_red {
    @include boton(4px, $rojo--claro);
    width: 15.35rem;
    height: 5rem;
    padding: 2px 0;
}
.btn_red:hover {
    background-color: $rojo--claro;
    color: $blanco;
}

/*Mis Servicios=============000=======================0000000======*/
.main__titulo {
    color: #f6f6f6;
    text-align: center;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}
.servicio {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 34rem;
    margin: 2rem 5rem;
    border-radius: 40px;
    padding: 1rem 2rem;
}
.servicio__titulo {
    color: #001219;
    font-weight: 600;
    font-size: 2.5rem ;
    padding-bottom: 0.5rem;
}
.servicio__texto {
    color: #000;
    text-align: center;
    line-height: 2;
}
.servicio__botones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 13px;
    background-color: #CC1010;
    width: 16.2rem;
    height: 4rem;   
    font-size: 1.6rem;
    color: #000;
    transition: background-color .5s , color .5s;
}
.servicio__botones:hover {
    background-color: #238fb7;
    color: #F6F6F6;
}
@media screen and (min-width: 600px) {
    .servicio {
        width: 88%;
        margin: 2rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 29px 200px;
        justify-items: center;
    }
    .servicio__titulo {
        grid-column: 1/3;
    }
    .servicios {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width: 783px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        justify-items: center;
    }
    .servicio {
        width: 32rem;
        margin: 2rem 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*SECCION de blog  ========= =========0000000000000======= ==============*/
.sec_blog {                     
    background-color: #ffffff;
    padding: 2rem;
    margin-top: 4rem;                                                                           
}
.sec_blog--titulo {
    color: #001219;
    text-align: center;
    margin-bottom: 1rem;
}
.cont_blog {
    background-color: $blanco--opaco;
    display: inline-flex;
    flex-direction: column;
    margin-left: 30px;
    width: 34rem;
    transition: all 300ms;
    border: 1px solid $gris;
    border-radius: 18px;
    cursor: pointer; 
    height: 23rem;
}
.cont_blog:hover {
    transform: scale(1.09);
}
.cont_blog--img {
    width: 100%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.cont_blog--btn {
    text-decoration: none;
    width: 11.5rem;
    height: 2.4rem;
    font-weight: 600;
    @include boton(0px, $rojo--opaco);
    background-color: $azul--principal;
    font-size: 1.3rem;
    margin: 0.75rem 0 0.7rem 3rem;
}
.cont_blog--btn:hover {
    color: $blanco--opaco;
}
.cont_blog--titulo {
    display: inline-flex;
    margin-left: 3rem;
    font-weight: 700;
    font-size: 1.8rem;
    color: $azul--oscuro;
    text-decoration: none;
}
.cont_blog--titulo:hover {
    color: $azul--oscuro;
    text-decoration: underline ;
}
/*SECCION DE Contacto*/
.sec_contac__titulo {
    color: $blanco--opaco;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #FF0000;
}
.sec_contac {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0 4rem 0;
} /* =============== EL FINALLLL DE LAAA PAGINAAA INDEEEEXXX =========IABDIQA IUBAI8D AAAAAAAAAA AAAAAAAAAAAAA AAAAAAAA*/

/*Footer*/
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 0.4rem;
}
@import "us.scss";
@import "services.scss";
@import "blog.scss";
@import "contac.scss";
@import "page-404.scss";